*{
	margin:0;
	padding:0;
}

li{
	list-style: none;
}

#head{
	width:100%;
	height:60px;
	line-height: 60px;
	background: gray;
	font-size: 0;
}

/*.banner-left{
	display: inline-block;
}*/

#head img{
	display: inline-block;
	width:30px;
	height:30px;
	vertical-align: -8%;
	position: relative;
	left: 4.6%;
}

#head h1{
	display: inline-block;
	font-size: 21px;
	position: relative;
	left: 5.4%;
}

#head .nav{
	display: inline-block;
	position: relative;
	left: 44.5%;
}

#head .nav li{
	display: inline-block;
	font-size: 14px;
	margin-left:24px;
	margin-right:24px;
}

#head .banner-right{
	position: relative;
	left: 60%;
	display: inline-block;
}


#head .banner-right img{
	width: 14px;
	height: 17px;
	display: inline-block;
	margin-right: 20px;
}

#head h2{
	display: inline-block;
	font-size: 14px;
}

#section1{
	position: relative;
	height: 690px;
	width: 100%;
	background:#000 url('../image/1.png') no-repeat center;
	opacity: 0.8;
	background-size: 100% 690px;
}

#section1-box{
	/*background: yellow;*/
	width: auto;
	display: inline-block;
	position: absolute;
	top:226px;
	left:114px;
}

#section1-box h1{
	font-size: 60px;
	color: #fff;
}

#section1-box h3{
	width: 305px;
	font-size: 21px;
	color: #fff;
}

#section1-box .button{
	background: rgb(231, 79, 77);
	width: 333px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	margin-top: 48px;
}

#section1 .mask{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background: rgb(52,52,52);
	opacity: 0.2;
}

#section2{
	height: 248px;
}

#section2 .section2-box{

	display: inline-block;
	width: 25%;
	height: 248px;
	background: yellow;
	text-align: center;
	overflow: hidden;
	/*margin:0;*/
}

#section2 .section2-content{
	display: inline-block;
	/*height: auto;*/
	width: 158px;
	margin-top: 54px;
	background: gray;
}

#section2 p{
	font-size: 14px;
	margin-top: 37px;
}

#section3{
	height:363px;
	background: gray;
	text-align: center;
}

#section3 .section3-box{
	display: inline-block;
	margin-top: 90px;
	/*margin-bottom: 49px;*/
}

#section3 p{
	font-size: 54px;
	margin:0;
}

#section3 img{
	margin-bottom: 32px;
}

#section4{
	background: url('../image/9.png') no-repeat;
	background-size: 100%;
	height:340px;
	text-align: center;
	padding-top: 52px;
}

#section4 p:first-child{
	font-size: 21px;
	color: white;
	margin-bottom: 8px;
}

#section4 .line{
	display: inline-block;
	width: 35px;
	border-bottom: 1px solid white;
}

#section4 p:nth-child(3){
	font-size: 12px;
	margin-top: 21px;
	margin-bottom: 51px;	
	color: white;
}

#section4 .option-group{
	display: inline-block;
}

#section4 .option-group input[type="radio"]{
    width: 240px;
    height: 36px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    z-index: 10;
}

#section4 .option-group input[type="submit"]{
    width: 240px;
    height: 36px;
    line-height: 36px;
    vertical-align: top;
    font-size: 16px;
    margin: 0 10px;
    background-color: #BE4F48;
    color: #fff;
/*    opacity: 0;*/
    position: relative;
    z-index: 10;
    border-width: 0;
    -webkit-appearance: button;
}


#section4 .options-hidden{
	display: inline-block;
	position: relative;
	top: -41px;
}

#section4 .options-hidden .select{
	background: red;
	display: inline-block;
	width: 240px;
	height: 36px;
	margin: 0 10px;
	cursor: pointer;
	vertical-align: top;
}

#section4 .options-hidden .select span{
	line-height: 36px;
}

#section4 .options-hidden .select li{
	background: yellow;
	line-height: 36px;
	display: none;
}

